.team-pic {
  height: 150px;
  width: 150px;
  background: #c8bcbc;
  padding: 1em;
  overflow: hidden;
  /* justify-content: center; */
  /* padding-top: 50%; */
}

.team-pic img {
  margin-top: -100px;
  margin-left: -200px;
  object-fit: fill;
}
